<template id="giftPackageItem">
  <li class="buildGift__package-item js-buildGift__package-item">
    <div>
      <div class="buildGift__package-img">
        <img src="" alt="">
      </div>
      <div class="buildGift__package-info">
        <a href="" class="buildGift__package-link"><h4 class="buildGift__package-title"></h4></a>
        <span class="buildGift__package-price price">
          
        </span>
      </div>
      <div class="buildGift__package-input"></div>
    </div>
    <button class="buildGift__select button js-buildGift__package" data-handle="gift-package" data-next-step>Select</button>
  </li>
</template>
